Repository chanzuckerberg/single-cell-data-portal, pull requests merged in 2020-07, with the labels that each got.

#421 Create Project and Dataset
  backend/corpora/common/corpora_orm.py
  backend/corpora/common/entities/dataset.py
  backend/corpora/common/entities/entity.py
  backend/corpora/common/entities/project.py
  backend/corpora/common/utils/db_utils.py
  tests/unit/backend/corpora/common/entities/test_dataset.py
  tests/unit/backend/corpora/common/entities/test_project.py
  tests/unit/backend/corpora/common/entities/utils.py
Labels: Backend, Demo

#445 [EASY] Fixing request/response logs
  backend/chalice/api_server/app.py
Labels: Bug

#436 [2/3] List projects and datasets
  backend/corpora/common/entities/entity.py
  tests/unit/backend/corpora/common/entities/test_dataset.py
  tests/unit/backend/corpora/common/entities/test_project.py
Labels: Backend, Demo

#433 [3/3] API For List and Get Project
  backend/chalice/api_server/app.py
  backend/config/corpora-api.yml
  backend/corpora/common/corpora_orm.py
  backend/corpora/common/entities/__init__.py
  backend/corpora/common/entities/project.py
  backend/corpora/common/utils/json.py
  backend/corpora/lambdas/api/v1/project.py
  requirements.txt
  tests/unit/backend/chalice/api_server/test_v1_project.py
  tests/unit/backend/corpora/common/entities/test_dataset.py
  tests/unit/backend/corpora/common/entities/test_project.py
  tests/unit/backend/corpora/common/utils/test_json.py
  tests/unit/backend/utils.py
Labels: Backend, Demo

#446 401-landing-page
  .codeclimate.yml
  backend/config/corpora-api.yml
  frontend/.eslintrc.js
  frontend/env.development
  frontend/gatsby-config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/entities.d.ts
  frontend/src/common/entities.ts
  frontend/src/common/fixtures/projects.ts
  frontend/src/common/svg.d.ts
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Footer/style.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.ts
  frontend/src/components/Layout/index.tsx
  frontend/src/components/Layout/style.ts
  frontend/src/components/ProjectList/common/style.ts
  frontend/src/components/ProjectList/components/Dataset/components/MoreInformation/index.tsx
  frontend/src/components/ProjectList/components/Dataset/components/MoreInformation/style.ts
  frontend/src/components/ProjectList/components/Dataset/components/ViewDatasetAssets/DatasetAsset.tsx
  frontend/src/components/ProjectList/components/Dataset/components/ViewDatasetAssets/index.tsx
  frontend/src/components/ProjectList/components/Dataset/components/ViewDatasetAssets/style.ts
  frontend/src/components/ProjectList/components/Dataset/index.tsx
  frontend/src/components/ProjectList/components/Dataset/style.ts
  frontend/src/components/ProjectList/components/Heading/index.tsx
  frontend/src/components/ProjectList/components/Heading/questionMark.svg
  frontend/src/components/ProjectList/components/Heading/style.ts
  frontend/src/components/ProjectList/index.tsx
  frontend/src/components/common/HomepageLink/index.tsx
  frontend/src/components/common/HomepageLink/style.ts
  frontend/src/components/common/Logo/index.tsx
  frontend/src/components/common/Logo/style.ts
  frontend/src/components/common/theme.ts
  frontend/src/components/exploreData.tsx
  frontend/src/components/filesList.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/header.tsx
  frontend/src/components/layout.tsx
  frontend/src/components/projectOverview.tsx
  frontend/src/components/projectsList.tsx
  frontend/src/components/projectsListHeading.tsx
  frontend/src/components/seo.tsx
  frontend/src/components/styledButton.tsx
  frontend/src/components/theme.ts
  frontend/src/contexts/auth0Context.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/TEMPLATE_PAGE.tsx
  frontend/src/pages/index.tsx
Labels: Demo, Frontend

#444 Migration of database to new schema.
  backend/Makefile
  backend/config/database.ini
  backend/corpora/common/corpora_orm.py
  backend/database/README
  backend/database/README.md
  backend/database/env.py
  backend/database/versions/899656d37baa_updating_project_dataset_relationship.py
  backend/database/versions/a17d25ca2013_create_initial_tables.py
  backend/scripts/load_h5ad.py
  tests/unit/backend/chalice/api_server/test_v1_project.py
  tests/unit/backend/corpora/common/entities/test_dataset.py
  tests/unit/backend/corpora/fixtures/database/__init__.py
Labels: Backend

#485 add-dotenv-development
  frontend/.env.development
  frontend/.gitignore
Labels: bot/merge

#489 [EASY] Fix variable names for API
  backend/corpora/lambdas/api/v1/project.py
  backend/corpora/lambdas/api/v1/submission.py
Labels: bot/merge

#492 update-contributing-md
  CONTRIBUTING.md
Labels: bot/merge
